@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

.root {
    position: relative;
    height: 100vh;
    font-family: 'Ubuntu';
    color: #000;
    background-color: #5099c9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    padding: 30px;
    width: 370px;
    max-height: 462px;
    
    background-color: #fff;

    border: 1px solid #000;
    border-radius: 25px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}

.container-fadeIn {
    animation: fadeIn 0.6s ease;
}
.container-fadeOut {
    animation: fadeOut 0.6s ease;
}
@keyframes fadeIn {
    from {
        height: 95px;
    }
    to {
        height: 462px;
    }
}
@keyframes fadeOut {
    /* from {
        height: fit-content;
    } */
    to {
        height: 95px;
    }
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 270px;
}

.search__field {
    display: flex;
    align-self: center;
}

.search__input {
    margin: 0 15px;
    max-width: 220px;
    border: none;
    padding: 0;
    cursor: pointer;

    line-height: 30px;
    font-size: 24px;
    font-weight: 500;

    transition: all ease 0.3s;
}

.search__button {
    padding: 0;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    
    background-color: #fff;
    transition: all ease 0.3s;
}

.search__input:hover, .search__button:hover {
    opacity: 0.7;
}

.search__me {
    display: block;
}

.search__me_hide {
    display: none;
}


.forecast {
    position: relative;
    display: none;

    flex-direction: column;
    align-items: center;
    text-align: center;
    transition: all ease 0.3s;
}

.forecast_active {
    display: flex;
    transition: all ease 0.3s;
}

.forecast__place, .forecast__country {
    position: relative;
    color: rgba(0, 0, 0, 0.5);
    margin: 2px 0;
}

.forecast__precipitation-img {
    width: 64px;
    align-self: center;
    margin: 0 0 15px 0;
}

.forecast__error-img {
    width: 220px;
    align-self: center;
    margin: 0 0 15px 0;
}

.forecast__temperature {
    font-size: 48px;
    line-height: 50px;
    font-weight: 900;
    margin: 0;
}

.forecast__description {
    font-size: 32px;
    font-weight: 900;
    text-align: center;
    margin: 15px 0 0 0;
}

.details {
    display: grid;
    grid-template-columns: repeat(2, 140px);
    gap: 25px;

    padding-top: 25px;
}

.details__block {
    display: grid;
    grid-template-columns: 40px 95px;
    grid-template-rows: repeat(2, 20px);
    gap: 5px;
    align-items: center;

    font-size: 17px;
    font-weight: 500;
    text-align: left;
}

.details__ico {
    grid-column: 1;
    grid-row: 1 / span 2;
    width: 40px;

    font-size: 32px;
}

.details__digits {
    margin: 0;
}

.details__description {
    margin: 0;
}

.error400 {
    display: none;
    flex-direction: column;
    align-self: center;
    padding: 10px;
}

.error400_active {
    display: flex;
}

@media screen and (max-width:460px) {
    .container {
        width: 285px;
        padding: 15px 10px;
    }

    .search__input {
        width: 200px;
        margin: 0 5px;
        font-size: 18px;
        line-height: 20px;
    }
    
    .search__me {
        font-size: 14px;
    }

    .forecast__temperature {
        font-size: 36px;
        line-height: 38px;
    }

    .forecast__description {
        font-size: 24px;
        line-height: 26px;
    }

    .details {
        gap: 10px;
        grid-template-columns: repeat(2, 120px)
    }
    
    .details__block {
        font-size: 14px;

        grid-template-columns: 40px 80px;
        gap: 0;
    }
}